
<!DOCTYPE html>
<html>
<body>

<h1>The option value attribute</h1>

<form action="/cols">
<label for="cars">Choose a colour:</label>

<select id="cars" name="cars">
  <option style="background-color:lightpink" value="null" action="/cols">Light Pink</option>
    <option style="background-color:darkslateblue" value="null" action="/cols">Dark Blue</option>
</select>
<input type="submit" value="Submit">
</form>

<p>Choose a car, and click the "Submit" button to send input to the server.</p>

</body>
</html>
