<center>

 <div class="col">

<div class="column">
    <p style="font-family:courier;">Filter by style: </p>
    <a href="http://127.0.0.1:5000/emoShirts">
    <img border="0" alt="emoShirts" src="{{url_for('static', filename='./images/emostyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/urbanShirts">
    <img border="0" alt="urbanShirts" src="{{url_for('static', filename='./images/urbanstyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
     <a href="http://127.0.0.1:5000/vintageShirts">
    <img border="0" alt="vintageShirts" src="{{url_for('static', filename='./images/vintagestyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/streetShirts">
    <img border="0" alt="streetShirts" src="{{url_for('static', filename='./images/streetstyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
       <a href="http://127.0.0.1:5000/retroShirts">
    <img border="0" alt="retroShirts" src="{{url_for('static', filename='./images/retrostyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/gothicShirts">
    <img border="0" alt="gothicShirts" src="{{url_for('static', filename='./images/gothicstyle.png')}}" class="mx-auto d-block" style="width: 150px; height: 100px; ">
    </a>
      <br>
       <a href="http://127.0.0.1:5000/grungeShirts">
    <img border="0" alt="grungeShirts" src="{{url_for('static', filename='./images/grungestyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>
       <a href="http://127.0.0.1:5000/alternativeShirts">
    <img border="0" alt="alternativeShirts" src="{{url_for('static', filename='./images/alternativestyle.png')}}" class="mx-auto d-block" style="width: 230px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/formalShirts">
    <img border="0" alt="formalShirts" src="{{url_for('static', filename='./images/formalstyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>
       <a href="http://127.0.0.1:5000/indieShirts">
    <img border="0" alt="indieShirts" src="{{url_for('static', filename='./images/indiestyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/athleticShirts">
    <img border="0" alt="athleticShirts" src="{{url_for('static', filename='./images/athleticstyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>
      <a href="http://127.0.0.1:5000/pastelShirts">
    <img border="0" alt="pastelShirts" src="{{url_for('static', filename='./images/pastelstyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>
    <a href="http://127.0.0.1:5000/quirkyShirts">
    <img border="0" alt="quirkyShirts" src="{{url_for('static', filename='./images/quirkystyle.png')}}" class="mx-auto d-block" style="width: 180px; height: 100px; ">
    </a>


 <p style="font-family:courier;">Filter by colour: </p>
 <form action="{{ url_for('shirtColour') }}" method="post">

<label for="colourInput"> Choose a colour:</label> </blockquote>

<select id="colourInput" name="colourInput">
    <option style="background-color:white" value="white" action="/cols">White</option>
    <option style="background-color:snow" value="snow" action="/cols">Snow</option>
    <option style="background-color:whitesmoke" value="whitesmoke" action="/cols">White Smoke</option>
    <option style="background-color:gainsboro" value="gainsboro" action="/cols">Gainsboro</option>
    <option style="background-color:lightgray" value="lightgray" action="/cols">Light Grey</option>
    <option style="background-color:silver" value="silver" action="/cols">Silver</option>
    <option style="background-color:darkgray" value="darkgray" action="/cols">Dark Grey</option>
    <option style="background-color:gray" value="gray" action="/cols">Gray</option>
    <option style="background-color:dimgray" value="dimgray" action="/cols">Dim Grey</option>
    <option style="color:silver; background-color:black" value="black" action="/cols">Black</option>
     <option style="background-color:rosybrown" value="rosybrown" action="/cols">Rosy Brown</option>
     <option style="background-color:lightcoral" value="lightcoral" action="/cols">Light Coral</option>
     <option style="background-color:indianred" value="indianred" action="/cols">Indian Red</option>
     <option style="background-color:brown" value="brown" action="/cols">Brown</option>
     <option style="background-color:firebrick" value="firebrick" action="/cols">Fire Brick</option>
     <option style="background-color:maroon" value="maroon" action="/cols">Maroon</option>
     <option style="background-color:darkred" value="darkred" action="/cols">Dark Red</option>
     <option style="background-color:red" value="red" action="/cols">Red</option>
     <option style="background-color:salmon" value="salmon" action="/cols">Salmon</option>
     <option style="background-color:tomato" value="tomato" action="/cols">Tomato</option>
     <option style="background-color:darksalmon" value="darksalmon" action="/cols">Dark Salmon</option>
     <option style="background-color:coral" value="coral" action="/cols">Coral</option>
     <option style="background-color:orangered" value="orangered" action="/cols">Orange Red</option>
     <option style="background-color:lightsalmon" value="lightsalmon" action="/cols">Light Salmon</option>
    <option style="background-color:mistyrose" value="mistyrose" action="/cols">Misty Rose</option>
    <option style="background-color:sienna" value="sienna" action="/cols">Sienna</option>
    <option style="background-color:seashell" value="seashell" action="/cols">Seashell</option>
    <option style="background-color:chocolate" value="chocolate" action="/cols">Chocolate</option>
    <option style="background-color:saddlebrown" value="saddlebrown" action="/cols">Saddle Brown</option>
    <option style="background-color:sandybrown" value="sandybrown" action="/cols">Sandy Brown</option>
    <option style="background-color:peachpuff" value="peachpuff" action="/cols">Peach Puff</option>
    <option style="background-color:peru" value="peru" action="/cols">Peru</option>
    <option style="background-color:bisque" value="bisque" action="/cols">Bisque</option>
    <option style="background-color:darkorange" value="darkorange" action="/cols">Dark Orange</option>
    <option style="background-color:burlywood" value="burlywood" action="/cols">Burlywood</option>
    <option style="background-color:antiquewhite" value="antiquewhite" action="/cols">Antique White</option>
    <option style="background-color:tan" value="tan" action="/cols">Tan</option>
    <option style="background-color:navajowhite" value="navajowhite" action="/cols">Navajo White</option>
    <option style="background-color:blanchedalmond" value="blanchedalmond" action="/cols">Blanched Almond</option>
    <option style="background-color:papayawhip" value="papayawhip" action="/cols">Papaya Whip</option>
    <option style="background-color:moccasin" value="moccasin" action="/cols">Moccasin</option>
    <option style="background-color:orange" value="orange" action="/cols">Orange</option>
    <option style="background-color:wheat" value="wheat" action="/cols">Wheat</option>
    <option style="background-color:oldlace" value="oldlace" action="/cols">Old Lace</option>
    <option style="background-color:darkgoldenrod" value="darkgoldenrod" action="/cols">Dark Golden Rod</option>
    <option style="background-color:goldenrod" value="goldenrod" action="/cols">Golden Rod</option>
    <option style="background-color:cornsilk" value="cornsilk" action="/cols">Corn Silk</option>
    <option style="background-color:gold" value="gold" action="/cols">Gold</option>
    <option style="background-color:lemonchiffon" value="lemonchiffon" action="/cols">Lemon Chiffon</option>
    <option style="background-color:palegoldenrod" value="palegoldenrod" action="/cols">Pale Golden Rod</option>
    <option style="background-color:darkkhaki" value="darkkhaki" action="/cols">Dark Khaki</option>
    <option style="background-color:ivory" value="ivory" action="/cols">Ivory</option>
    <option style="background-color:beige" value="beige" action="/cols">Beige</option>
    <option style="background-color:lightyellow" value="lightyellow" action="/cols">Light Yellow</option>
    <option style="background-color:lightgoldenrodyellow" value="lightgoldenrodyellow" action="/cols">Light Golden Rod Yellow</option>
    <option style="background-color:olive" value="olive" action="/cols">Olive</option>
    <option style="background-color:yellow" value="yellow" action="/cols">Yellow</option>
    <option style="background-color:olivedrab" value="olivedrab" action="/cols">Olive Drab</option>
    <option style="background-color:yellowgreen" value="yellowgreen" action="/cols">Yellow Green</option>
    <option style="background-color:darkolivegreen" value="darkolivegreen" action="/cols">Dark Olive Green</option>
    <option style="background-color:greenyellow" value="greenyellow" action="/cols">Green Yellow</option>
    <option style="background-color:chartreuse" value="chartreuse" action="/cols">Chartreuse</option>
    <option style="background-color:lawngreen" value="lawngreen" action="/cols">Lawn Green</option>
    <option style="background-color:honeydew" value="honeydew" action="/cols">Honey Dew</option>
    <option style="background-color:darkseagreen" value="darkseagreen" action="/cols">Dark Sea Green</option>
    <option style="background-color:palegreen" value="palegreen" action="/cols">Pale Green</option>
    <option style="background-color:lightgreen" value="lightgreen" action="/cols">Light Green</option>
    <option style="background-color:forestgreen" value="forestgreen" action="/cols">Forest Green</option>
    <option style="background-color:limegreen" value="limegreen" action="/cols">Lime Green</option>
    <option style="background-color:darkgreen" value="darkgreen" action="/cols">Dark Green</option>
    <option style="background-color:green" value="green" action="/cols">Green</option>
    <option style="background-color:lime" value="lime" action="/cols">Lime</option>
    <option style="background-color:seagreen" value="seagreen" action="/cols">Sea Green</option>
    <option style="background-color:mediumseagreen" value="mediumseagreen" action="/cols">Medium Sea Green</option>
    <option style="background-color:springgreen" value="springgreen" action="/cols">Spring Green</option>
    <option style="background-color:mintcream" value="mintcream" action="/cols">Mint Cream</option>
    <option style="background-color:mediumspringgreen" value="mediumspringgreen" action="/cols">Medium Spring Green</option>
    <option style="background-color:mediumaquamarine" value="mediumaquamarine" action="/cols">Medium Aquamarine</option>
    <option style="background-color:aquamarine" value="aquamarine" action="/cols">Aquamarine</option>
    <option style="background-color:turquoise" value="turquoise" action="/cols">Turquoise</option>
    <option style="background-color:lightseagreen" value="lightseagreen" action="/cols">Light Sea Green</option>
    <option style="background-color:mediumturquoise" value="mediumturquoise" action="/cols">Medium Turquoise</option>
    <option style="background-color:azure" value="azure" action="/cols">Azure</option>
    <option style="background-color:lightcyan" value="lightcyan" action="/cols">Light Cyan</option>
    <option style="background-color:paleturquoise" value="paleturquoise" action="/cols">Pale Turquoise</option>
    <option style="background-color:darkslategrey" value="darkslategrey" action="/cols">Dark Slate Grey</option>
    <option style="background-color:teal" value="teal" action="/cols">Teal</option>
    <option style="background-color:darkcyan" value="darkcyan" action="/cols">Dark Cyan</option>
    <option style="background-color:aqua" value="aqua" action="/cols">Aqua</option>
    <option style="background-color:cyan" value="cyan" action="/cols">Cyan</option>
    <option style="background-color:darkturquoise" value="darkturquoise" action="/cols">Dark Turquoise</option>
    <option style="background-color:cadetblue" value="cadetblue" action="/cols">Cadet Blue</option>
    <option style="background-color:powderblue" value="powderblue" action="/cols">Powder Blue</option>
    <option style="background-color:lightblue" value="lightblue" action="/cols">Light Blue</option>
    <option style="background-color:deepskyblue" value="deepskyblue" action="/cols">Deep Sky Blue</option>
    <option style="background-color:skyblue" value="skyblue" action="/cols">Sky Blue</option>
    <option style="background-color:lightskyblue" value="lightskyblue" action="/cols">Light Sky Blue</option>
    <option style="background-color:steelblue" value="steelblue" action="/cols">Steel Blue</option>
    <option style="background-color:aliceblue" value="aliceblue" action="/cols">Alice Blue</option>
    <option style="background-color:dodgerblue" value="dodgerblue" action="/cols">Dodger Blue</option>
    <option style="background-color:lightslategrey" value="lightslategrey" action="/cols">Light Slate Grey</option>
    <option style="background-color:slategrey" value="slategrey" action="/cols">Slate Grey</option>
    <option style="background-color:lightsteelblue" value="lightsteelblue" action="/cols">Light Steel Blue</option>
    <option style="background-color:cornflowerblue" value="cornflowerblue" action="/cols">Corn Flower Blue</option>
    <option style="background-color:royalblue" value="royalblue" action="/cols">Royal Blue</option>
    <option style="background-color:ghostwhite" value="ghostwhite" action="/cols">Ghost White</option>
    <option style="background-color:lavender" value="lavender" action="/cols">lavender</option>
    <option style="background-color:midnightblue" value="midnightblue" action="/cols">Midnight Blue</option>
    <option style="background-color:navy" value="navy" action="/cols">Navy</option>
    <option style="background-color:darkblue" value="darkblue" action="/cols">Dark Blue</option>
    <option style="background-color:mediumblue" value="mediumblue" action="/cols">Medium Blue</option>
    <option style="background-color:blue" value="blue" action="/cols">Blue</option>
    <option style="background-color:slateblue" value="slateblue" action="/cols">Slate Blue</option>
    <option style="background-color:darkslateblue" value="darkslateblue" action="/cols">Dark Slate Blue</option>
    <option style="background-color:mediumslateblue" value="mediumslateblue" action="/cols">Medium Slate Blue</option>
    <option style="background-color:mediumpurple" value="mediumpurple" action="/cols">Medium Purple</option>
    <option style="background-color:rebeccapurple" value="rebeccapurple" action="/cols">Rebecca Purple</option>
    <option style="background-color:blueviolet" value="blueviolet" action="/cols">Blue Violet</option>
    <option style="background-color:indigo" value="indigo" action="/cols">Indigo</option>
    <option style="background-color:darkorchid" value="darkorchid" action="/cols">Dark Orchid</option>
    <option style="background-color:darkviolet" value="darkviolet" action="/cols">Dark Violet</option>
    <option style="background-color:mediumorchid" value="mediumorchid" action="/cols">Medium Orchid</option>
    <option style="background-color:thistle" value="thistle" action="/cols">Thistle</option>
    <option style="background-color:plum" value="plum" action="/cols">Plum</option>
    <option style="background-color:violet" value="violet" action="/cols">Violet</option>
    <option style="background-color:purple" value="purple" action="/cols">Purple</option>
    <option style="background-color:darkmagenta" value="darkmagenta" action="/cols">Dark Magenta</option>
    <option style="background-color:fuchsia" value="fuchsia" action="/cols">Fuchsia</option>
    <option style="background-color:magenta" value="magenta" action="/cols">Magenta</option>
    <option style="background-color:orchid" value="orchid" action="/cols">Orchid</option>
    <option style="background-color:mediumvioletred" value="mediumvioletred" action="/cols">Medium Violet Red</option>
    <option style="background-color:deeppink" value="deeppink" action="/cols">Deep Pink</option>
    <option style="background-color:hotpink" value="hotpink" action="/cols">Hot Pink</option>
    <option style="background-color:lavenderblush" value="lavenderblush" action="/cols">Lavender Blush</option>
    <option style="background-color:palevioletred" value="palevioletred" action="/cols">Pale Violet Red</option>
    <option style="background-color:crimson" value="crimson" action="/cols">Crimson</option>
    <option style="background-color:pink" value="pink" action="/cols">Pink</option>
    <option style="background-color:lightpink" value="lightpink" action="/cols">Light Pink</option>


</select>

 <button type="submit">Submit</button>
    </form>
    </div>




<p style="font-family:courier;"> All shirts: </p>
{% for i in search_results%}
<br>
    <img src="static/images/{{i}}.jpeg" alt="User Image" width="500" height="520">
{% for i in search_results%}
{% endfor %}
{% set a = i %}
{% set b = i | int%}
<p class="monospace" style="color:#6495ED"> {{ showKeywords[b-1]}} </p>

<style>

.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
</style>
{% endfor %}